{% extends 'song/base.html' %}


{% block title %}
Chamge Password
{% endblock %}

{% block content %}
<div class="row">

    <div class="pt-3 col-md-6 offset-md-3">


        <div class="jumbotron">
            <h1 class="display-4">Change Password</h1>
            <hr>
            <form method="POST">
                {%csrf_token%}
                {{form.as_p}}
                <button class="btn btn-primary">Change Password</button>
                <a href="{% url 'home'%}" class="btn btn-secondary">Back</a>
            </form>
        </div>

    </div>

</div>
{% endblock %}